<h2> Listing Projects </h2>

<% if @projects.empty? %>
    <h3> Oops! Looks like there are No Projects registered ! :( </h3>
    <% link_to "Register Project", new_project_path %>
<% else %>
    <table>

        <thead>
            <th>#</th>
            <th>Name</th>
            <th>Description</th>
            <th>Start Date</th>
            <th>End Date</th>
            <th>Status</th>
        </thead>
        <tbody>
            <tr>
                <% projects.each_with_index { |project, index| %>
                    <td><%= index + 1 %></td>
                    <td>
        

